<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561052551726-v5hu5re0c0a073ks8c6ss30glaibcd93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561052551726-v5hu5re0c0a073ks8c6ss30glaibcd93</string>
	<key>API_KEY</key>
	<string>AIzaSyCI5eeNwXg6T_MtHBnnCh7vBCPuz9mjXgw</string>
	<key>GCM_SENDER_ID</key>
	<string>561052551726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dcodax.riderem.restaurant</string>
	<key>PROJECT_ID</key>
	<string>riderem-3aeda</string>
	<key>STORAGE_BUCKET</key>
	<string>riderem-3aeda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561052551726:ios:0cf379faab2832096fedbf</string>
</dict>
</plist>